<header>
  <h1 class="payment">Payment Cancelled</h1>
</header>
<main class="pay">
  <section class="cancel">
    <i class="fas fa-times-circle cancel-icon"></i>
    <h2 class="cancel-message">Payment has been cancelled.</h2>
    <p class="cancel-description">Your payment was not processed.</p>
  </section>
</main>
<footer>
  <p>&copy; 2023 My Ecommerce Store. All rights reserved.</p>
</footer>
<link rel="stylesheet" href="/style.css" />
<script src="https://kit.fontawesome.com/48d346ada8.js" crossorigin="anonymous"></script>
