<h2 class="title-top">AHORA 3 Cuotas sin Interés en compras superiores a $39.999
  con VISA, MASTERCARD, AMEX Y CABAL</h2>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid mx-3">
    <a class="navbar-brand" href="#">
      <i class="fa-solid fa-store"></i>
      TIENDA DE ROPA
    </a>
    <!-- Botón de colapso para pantallas pequeñas -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="#">REBAJAS</a>
        <a class="nav-link" href="#">Mujeres</a>
        <a class="nav-link" href="#">Hombres</a>
        <a class="nav-link" href="#">Niños</a>
        <a
          class="nav-link disabled"
          aria-disabled="true"
          href="/api/carts/{{cartId}}"
        >
          <i class="fa-solid fa-cart-shopping fa-bounce"></i>
        </a>
      </div>
    </div>
  </div>
</nav>

<h2 class="title-login"> ¿OLVIDASTE TU CONTRASEÑA? </h2>
<div class="container">
  <h5 class="text-center">Ingrese su dirección de correo electrónico a continuación para recibir instrucciones para restablecer la contraseña:</h5>
  <div class="password-reset-request-form">
    {{#if success}}
    <div class="alert alert-success">{{success}}</div>
    {{/if}}
    {{#if error}}
    <div class="alert alert-danger">{{error}}</div>
    {{/if}}
    <form method="POST" action="/auth/password/reset-request">
      <div class="form-group">
        <input type="email" id="email" name="email" class="form-control" placeholder="CORREO ELECTRONICO *" required>
      </div>
      <button type="submit" class="btn ligth">RESTABLECER MI CONTRASEÑA</button>
    </form>
  </div>
</div>

<script src="https://kit.fontawesome.com/48d346ada8.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/style.css" />
