<div class="container">
  <h2 class="title bg-secondary">Restablecer contrase単a</h2>
  <div class="password-reset-form">
    {{#if error}}
    <div class="alert alert-danger">{{error}}</div>
    {{/if}}
    <form method="POST" action="/auth/password/reset/{{token}}">
      <div class="form-group">
        <label for="password">Nueva contrase単a:</label>
        <input type="password" id="password" name="password" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="confirm-password">Confirmar contrase単a:</label>
        <input type="password" id="confirm-password" name="confirm-password" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-success">Restablecer contrase単a</button>
    </form>
  </div>
</div>

<script src="https://kit.fontawesome.com/48d346ada8.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/style.css" />
