<div class="container">
  <h2 class="title bg-secondary">Solicitar restablecimiento de contraseña</h2>
  <div class="password-reset-request-form">
    {{#if success}}
    <div class="alert alert-success">{{success}}</div>
    {{/if}}
    {{#if error}}
    <div class="alert alert-danger">{{error}}</div>
    {{/if}}
    <form method="POST" action="/auth/password/reset-request">
      <div class="form-group">
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-success">Enviar correo de restablecimiento</button>
    </form>
  </div>
</div>

<script src="https://kit.fontawesome.com/48d346ada8.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/style.css" />
