<div class="container">
  <h2 class="title bg-secondary">Enlace de restablecimiento de contraseña expirado</h2>
  <p class="login">El enlace de restablecimiento de contraseña ha expirado. Por favor, solicita un nuevo enlace.</p>
  <a href="/auth/password/reset-request" class="btn btn-primary">Solicitar nuevo enlace</a>
</div>

<script src="https://kit.fontawesome.com/48d346ada8.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/style.css" />
