<header>
    <h1 class="payment">Payment Successful</h1>
  </header>
  <main class="pay">
    <section class="success">
      <i class="fas fa-check-circle success-icon"></i>
      <h2 class="success-message">Thank you for your purchase!</h2>
      <p class="success-description">Your payment has been successfully processed.</p>
    </section>
  </main>
  <footer>
    <p>&copy; 2023 My Ecommerce Store. All rights reserved.</p>
  </footer>
  <link rel="stylesheet" href="/style.css" />
<script src="https://kit.fontawesome.com/48d346ada8.js" crossorigin="anonymous"></script>